<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3">
                <h3 th:text="${titulo}"></h3>
                <ul>
                    <li th:text="${usuario.nombre}"></li>
                    <li th:text="${usuario.apellido}"></li>
                    <li th:text="${usuario.username}"></li>
                    <li th:text="${usuario.password}"></li>
                    <li th:text="${usuario.email}"></li>
                    <li th:text="${usuario.identificador}"></li>
                    <li th:text="${usuario.cuenta}"></li>
                    <li th:text="${usuario.fechaNacimiento}"></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>